<h1> Welcome, <%=@user.username%> </h1>
<h2> You have: $<%=@user.money%> </h2>
<h3> Your Tickets: </h3>

<% if !@user.concerts.empty? %>
<%@user.concerts.sort_by {|x| x.time}.reverse.each do |t|%>
<div>
<%=t.title %> (<%=t.age_req%>)<br>
<%=t.showtime%><br>
  <form method="post" action="/refund">
    <input type="hidden" name="ticket_id" value="<%=Ticket.find_by(concert_id: t.id).id%>">
    <input type="hidden" name="user_id" value="<%= @user.id%>">
    <input type="hidden" name="authenticity_token" id="authenticity_token" value="ANYTHING">
    <input type="submit" value="Cancel">
  </form>
</div><br>
  <%end%>
<%end%>


<%=link_to "Click Here To Buy Tickets", user_concerts_path(@user)%><br><br>

<%= link_to "Most Popular Concert", most_popular_path(@user)%><br><br>


<%= link_to "Log Out", logout_path %><br><br>

<% if flash[:success] %>
  <%= flash[:success] %></div>
  <% elsif flash[:notice]  %>
  <%= flash[:notice] %></div>
<% end %>

<%= link_to "Create Note", new_user_note_path(@user) %><br><br>

<% @notes.each do |n| %>
  <%= n.content %><br><br>
<% end %>
