<% @concerts.each do |f|%>
  <div>
  Title: <%=f.title%><br>
  Age: <%=f.age_req%><br>
  Cost: $<%=f.cost%>
    <form method="post" action="/purchaseticket">
      <input type="submit" value="Purchase Ticket">
      <input type="hidden" name="concert_id"  value="<%=f.id%>">
      <input type="hidden" name="user_id" value="<%=current_user.id%>">
      <input type="hidden" name="authenticity_token" id="authenticity_token" value="ANYTHING">
    </form>
  </div>
  <%end%>