<a href="#" class="js-next" data-id="<%=@concert.id%>">Next...</a><br>
<h1 class="conName"><%= @concert.title%></h1>
<h2 class="conAge"><%= @concert.age_req%></h2>
<h2 class="conPrice"><%= @concert.cost%></h2>
<h2 class="dateTime"><%= @concert.time%></h2><br><br>

<h3>People Attending</h3>

<h4 class="attending"><%= @concert.users.count%></h4>





<script type="text/javascript" charset="utf-8">
$(function () {
    $(".js-next").on("click", function(e){
        e.preventDefault()
        var nextId = parseInt($(".js-next").attr("data-id")) + 1;
        $.get("/concerts/" + nextId + ".json", function(data){
            $(".conName").text(data["title"]);
            $(".conAge").text(data["age_req"]);
            $(".conPrice").text(data["cost"]);
            $(".dateTime").text(data["time"]);
            $(".attending").text(data["user"]);
            $(".js-next").attr("data-id", data["id"]);
        });     
    });
});
</script>